@use '../../../../../styles/mixins' as *;

.outer-div{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Google Sans", sans-serif;
}

.header-div{
  h3{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
}

.main-div{
    width: max-content;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Google Sans", sans-serif;
}

.right-div{
  img{
    width: 30rem;
    height: auto;
  }
}

.left-div{
 padding: 2rem;
}

.logo-div{
  .google-logo{
    width: 10rem;
    height: auto;
  }
}

.register-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.name-input-feilds,
.email-input-feild,
.password-input-feilds {
  margin-top: 1rem;
}



.name-input-feilds{
  display: flex;
  gap: 1rem;
  width: 100%;

  .first-name-wrapper,
  .last-name-wrapper{
    width: 100%;
    @include floating-label-input;
  }
}

.email-input-feild{
  width: 100%;
  @include floating-label-input;

  input:-webkit-autofill + label {
    top: 0.5rem;
    font-size: 0.75rem;
    color: #0453d1;
  }
}

.password-requiement{
  width: 100%;

  p{
    text-align: left;
    font-size: 0.8rem;
    color: #555555;
    padding-top: 0.5rem;
  }
}

.show-password{
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  margin-top: 0.5rem;

  input[type="checkbox"]{
    margin-left: 0.2rem;
    transform: scale(1.5);
    margin-right: 0.7rem;
  }

  label{
    font-size: 0.9rem;
    color: #555555;
  }
}

.password-input-feilds{
  display: flex;
  gap: 1rem;
  width: 100%;

  .password-wrapper,
  .confirm-password-wrapper{
    @include floating-label-input;
    width: 100%;
  }
}

.botton-div{
  padding-top: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .left-div-buttom-signin{
    a{
      @include link-style;
    }
  }

  .right-register-button{
    margin-left: auto;

    button{
      @include button-style;
      width: auto;
      padding: 0.6rem 1.5rem;
    }
  }
}

@media (width <= 796px) {
  .main-div{
    flex-direction: column;
    height: auto;
    margin: 2rem 0;
  }

  .right-div{
    display: none;
  }
}
