@use '../../../../../styles/mixins' as *;


.main-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Google Sans", sans-serif;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #ffffff;
}



.logo-div {
  .google-logo {
    width: 10rem;
    height: auto;
  }
}

.login-header {
  margin-bottom: 0.8rem;

  h3 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 0.4rem;
  }
}

.use-account-text p {
  font-size: 0.9rem;
  color: #555555;
}



.email-input-feild {
  margin-top: 1rem;
  margin-bottom: 1rem;
  @include floating-label-input(#4285f4);
}

.password-input-feild {
  margin-bottom: 0.5rem;
  @include floating-label-input;
}


.forgot-password-div {
  width: 100%;
  text-align: left;
  margin-top: 0.5rem;

  a {
    @include link-style;
  }
}

.botton-div {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  .left-div-buttom-create-account {
    margin-right: auto;
    display: flex;
    align-items: center;

    a {
      @include link-style;
      font-size: 1.1rem;
    }
  }

  .right-login-button {
    button {
      @include button-style;
      height: max-content;
    }
  }
}

@media (max-width: 480px) {
  .password-input-feild label {
    font-size: 0.8rem;
  }
}
